/Cadastro_LoL/nbproject/private/
/Cadastro_LoL/build/
/MVC_exer_1/nbproject/private/
/MVC_exer_1/build/
/Proj_Art/build/
/Proj_Art/dist/
/Exemplo Banco/nbproject/private/
/ProjetoBD/nbproject/private/
/ProjetoBD/build/
/S1/Cadastro_LoL/nbproject/private/